body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }
  .display{
    padding: 15px;
    width: 90%;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .cal{
    background-color: rgb(81, 52, 52);
    padding: 10px;
    border-radius: 10px;
  }
  
  .btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:6px;
    
  }
  
  .btns button{
    padding: 8px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(25, 134, 134);
    color: chartreuse;
    font-size: 20px;
  }
  