*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.part{
    width: 160px;
    padding: 25px;
    text-align: center;
    background-color: coral;
    color: #fff;
    margin-right: 20px;
    border-radius: 7px;
    
}
body{
    background-color: gray;
}
